//variable.scss
// colors
$color-primary: #080808;
$color-secondary: #f07070;
$color-about: #ababab;
$color-light: #fff;
$color-active: #262626;
$color-message: #61b752;

// spacing
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 50px;
$padding-x-large: 4rem;
$padding-xx-large: 80px;

//Font sizes
$font-large: 40px;
$font-medium: 30px;
$font-small: 20px;
$font-x-small: 18px;
$font-xx-small: 16px;
